<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Emgu.CV" version="4.7.0.5276" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0-preview.3.23174.8" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="8.0.0-preview.3.23174.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="8.0.0-preview.3.23174.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging" version="8.0.0-preview.3.23174.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="8.0.0-preview.3.23174.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="8.0.0-preview.3.23174.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="8.0.0-preview.3.23174.8" targetFramework="net48" />
  <package id="Microsoft.Psi.Imaging" version="0.18.72.1-beta" targetFramework="net48" />
  <package id="Microsoft.Psi.Imaging.Windows" version="0.18.72.1-beta" targetFramework="net48" />
  <package id="Microsoft.Psi.Runtime" version="0.18.72.1-beta" targetFramework="net48" />
  <package id="Microsoft.Win32.Registry" version="4.7.0" targetFramework="net48" />
  <package id="NAudio" version="2.1.0" targetFramework="net48" />
  <package id="NAudio.Asio" version="2.1.0" targetFramework="net48" />
  <package id="NAudio.Core" version="2.1.0" targetFramework="net48" />
  <package id="NAudio.Midi" version="2.1.0" targetFramework="net48" />
  <package id="NAudio.Wasapi" version="2.1.0" targetFramework="net48" />
  <package id="NAudio.WinForms" version="2.1.0" targetFramework="net48" />
  <package id="NAudio.WinMM" version="2.1.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="1.7.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="8.0.0-preview.3.23174.8" targetFramework="net48" />
  <package id="System.Drawing.Common" version="4.7.2" targetFramework="net48" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Reflection.Emit.ILGeneration" version="4.7.0" targetFramework="net48" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="4.7.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>