<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VideoRemoteApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <VideoRemoteApp.Properties.Settings>
      <setting name="rendezVousServerIp" serializeAs="String">
        <value>10.144.210.101</value>
      </setting>
      <setting name="rendezVousServerPort" serializeAs="String">
        <value>13331</value>
      </setting>
      <setting name="commandPort" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="remotePort" serializeAs="String">
        <value>11550</value>
      </setting>
      <setting name="applicationName" serializeAs="String">
        <value>VideoRemoteApp</value>
      </setting>
      <setting name="ipToUse" serializeAs="String">
        <value>10.144.210.100</value>
      </setting>
      <setting name="isServer" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="isStreaming" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="captureInterval" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="encodingLevel" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="isLocalRecording" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="localSessionName" serializeAs="String">
        <value />
      </setting>
      <setting name="datasetPath" serializeAs="String">
        <value />
      </setting>
      <setting name="datasetName" serializeAs="String">
        <value />
      </setting>
      <setting name="commandSource" serializeAs="String">
        <value />
      </setting>
      <setting name="streamingPortRangeStart" serializeAs="String">
        <value>15556</value>
      </setting>
    </VideoRemoteApp.Properties.Settings>
  </userSettings>
</configuration>