<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KinectAzureRemoteApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="KinectAzureRemoteApp.SettingsKinectAzureRemote" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <KinectAzureRemoteApp.Properties.Settings>
            <setting name="rendezVousServerIp" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="rendezVousServerPort" serializeAs="String">
                <value>13331</value>
            </setting>
            <setting name="remotePort" serializeAs="String">
                <value>11411</value>
            </setting>
            <setting name="audio" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="skeleton" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rgb" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="depth" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="depthCalibration" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IMU" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ApplicationName" serializeAs="String">
                <value>KinectStreaming</value>
            </setting>
            <setting name="IpToUse" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="encodingLevel" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="videoResolution" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="FPS" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DatasetPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DatasetName" serializeAs="String">
                <value />
            </setting>
            <setting name="hands" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gestures" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="infrared" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="longExposureInfrared" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="colorToCameraMapping" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rgbd" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="videoSource" serializeAs="String">
                <value />
            </setting>
            <setting name="sensorType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="isServer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isStreaming" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isLocalRecording" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="localSessionName" serializeAs="String">
                <value />
            </setting>
            <setting name="nuitrackDevice" serializeAs="String">
                <value />
            </setting>
            <setting name="nuitrackKey" serializeAs="String">
                <value />
            </setting>
        </KinectAzureRemoteApp.Properties.Settings>
        <KinectAzureRemoteApp.SettingsKinectAzureRemote>
            <setting name="synchServerIp" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="synchServerPort" serializeAs="String">
                <value>1234</value>
            </setting>
            <setting name="synchServerIsActive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="remotePort" serializeAs="String">
                <value>11411</value>
            </setting>
            <setting name="audio" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="skeleton" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rgb" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="depth" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="depthCalibration" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IMU" serializeAs="String">
                <value>False</value>
            </setting>
        </KinectAzureRemoteApp.SettingsKinectAzureRemote>
    </userSettings>
</configuration>