<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KinectAzureRemoteApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="KinectAzureRemoteApp.SettingsKinectAzureRemote" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <KinectAzureRemoteApp.Properties.Settings>
            <setting name="synchServerIp" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="synchServerPort" serializeAs="String">
                <value>1234</value>
            </setting>
            <setting name="synchServerIsActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="remotePort" serializeAs="String">
                <value>11411</value>
            </setting>
            <setting name="audio" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="skeleton" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rgb" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="depth" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="depthCalibration" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IMU" serializeAs="String">
                <value>False</value>
            </setting>
        </KinectAzureRemoteApp.Properties.Settings>
        <KinectAzureRemoteApp.SettingsKinectAzureRemote>
            <setting name="synchServerIp" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="synchServerPort" serializeAs="String">
                <value>1234</value>
            </setting>
            <setting name="synchServerIsActive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="remotePort" serializeAs="String">
                <value>11411</value>
            </setting>
            <setting name="audio" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="skeleton" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rgb" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="depth" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="depthCalibration" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IMU" serializeAs="String">
                <value>False</value>
            </setting>
        </KinectAzureRemoteApp.SettingsKinectAzureRemote>
    </userSettings>
</configuration>